<header
  *ngIf="selectedLanguage"
  [ngClass]="{ 'dark-theme': themeService.isDark }"
>
  <mat-toolbar color="primary" class="d-flex justify-content-between">
    <button mat-icon-button (click)="toggleSideBar()" *ngIf="isAuth">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="title">{{ title }}</div>
    <div>
      <button *ngIf="isAuth"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- logout -->
        <button color="warn" mat-menu-item (click)="onLogout()" *ngIf="isAuth">
          <mat-icon>logout</mat-icon>
          <span>{{ "buttons.logout" | translate }}</span>
        </button>

      </mat-menu>
    </div>
  </mat-toolbar>
</header>
