<header
  *ngIf="selectedLanguage"
  [ngClass]="{ 'dark-theme': themeService.isDark }"
>
  <mat-toolbar color="primary" class="d-flex justify-content-between">
    <button mat-icon-button (click)="openSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>{{title}}</div>
    <div >
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- language -->
        <button mat-menu-item [matMenuTriggerFor]="selectLanguages">
          <mat-icon>language</mat-icon>
          <span>{{selectedLanguage.name}}</span>
        </button>

        <!-- theme -->
        <button mat-menu-item>
          <mat-slide-toggle [(ngModel)]="themeService.isDark"
            >{{ "buttons.dark-mode" | translate }}</mat-slide-toggle
          >
        </button>

        <!-- logout -->
        <button color="warn" mat-menu-item (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>{{ "buttons.logout" | translate }}</span>
        </button>

      </mat-menu>

      <mat-menu #selectLanguages="matMenu">
          <div *ngFor="let language of otherLanguages">
            <button mat-menu-item (click)="langChanged(language)" 
          >{{language.name}}</button>
          </div>
          
      </mat-menu>
    </div>
  </mat-toolbar>
</header>