<div>
  <h2>Update User</h2>
  <div>
    <div [formGroup]="newUserForm">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          required
          autocomplete="off"
        />
        <mat-error *ngIf="!newUserForm.controls.name.valid"
          >Enter Name</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          autocomplete="off"
        />
        <mat-error *ngIf="newUserForm.controls.email.hasError('pattern')"
          >InValid email</mat-error
        >
        <mat-error *ngIf="newUserForm.controls.email.hasError('ExistingEmail')">
          {{ newUserForm.controls.email.getError("ExistingEmail") }}
        </mat-error>
        <mat-error *ngIf="newUserForm.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      {{ newUserForm.controls.email.errors | json }}
    </div>
    <button
      mat-raised-button
      (click)="onUpdate()"
      color="primary"
      [disabled]="!newUserForm.valid"
    >
      Update
    </button>
  </div>
</div>
