<div class="container col-md-4 text-center">
  <h2>{{ "buttons.login" | translate }}</h2>
  <form [formGroup]="form" class="d-flex col-md-12 flex-column">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'form.email' | translate }}</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required
      />
      <mat-error *ngIf="form.controls.email.hasError('pattern')"
        >{{ 'error.InValidEmail' | translate }}</mat-error
      >
      <mat-error *ngIf="form.controls.email.hasError('required')">
        {{ 'error.requiredEmail' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'form.password' | translate }}</mat-label>
      <input matInput formControlName="password" required  type="password">
      <mat-error *ngIf="form.controls.password.hasError('minlength')">
        {{ 'error.passwordRequiredSixChar' | translate }}
      </mat-error>
      <mat-error *ngIf="form.controls.password.hasError('required')">
        {{ 'error.passwordRequired' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
  <button
    [disabled]="!form.valid"
    mat-raised-button
    color="primary"
    (click)="onLogin()"
  >
  {{ "buttons.login" | translate }}
  </button>
</div>
