<div class="container d-flex justify-content-center">
  <form [formGroup]="form" class="d-flex col-md-12 flex-column">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        required
        autocomplete="off"
      />
      <mat-error *ngIf="!form.controls.name.valid">Enter Name</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" autocomplete="off" />
      <mat-error *ngIf="form.controls.email.hasError('pattern')"
        >InValid email</mat-error
      >
      <mat-error *ngIf="form.controls.email.hasError('ExistingEmail')">
        {{ form.controls.email.getError("ExistingEmail") }}
      </mat-error>
      <mat-error *ngIf="form.controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>
