<div class="settings containter text-center">
  <div class="row">
    <div style="padding-top: 20px" class="col-sm float-right">
      <span class="span-description"
        ><mat-icon>language</mat-icon>
        {{ "settings.choose-lang" | translate }} |</span
      >
    </div>
    <div class="col-sm">
      <span class="span-action">
        <mat-select
          class="select-language"
          [(value)]="selectedLanguage"
          (selectionChange)="langChanged($event)"
        >
          <mat-option
            *ngFor="let language of languages; let i = index"
            [value]="language"
            [style.display]="
              selectedLanguage.code !== language.code ? 'block' : 'none'
            "
          >
            {{ language.name }}
          </mat-option>
        </mat-select>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <span class="span-description"
        ><mat-icon class="">bedtime</mat-icon>
        {{ "settings.change-mode" | translate }} |
      </span>
    </div>
    <div class="col-sm">
      <span class="span-toggle span-action"
        ><mat-slide-toggle [(ngModel)]="themeService.isDark">{{
          "buttons.dark-mode" | translate
        }}</mat-slide-toggle></span
      >
    </div>
  </div>

  <button mat-raised-button color="accent" id="btn-back" (click)="onBack()">
    {{ "buttons.back" | translate }}
  </button>
</div>
