.settings {
  margin-top: 100px;
}

.select-language {
  padding: 20px;
  margin-bottom: 50px;
  width: 120px;
}

#btn-back {
  margin-top: 50px;
}

.span-description {
  height: 30px;
  margin-right: 20px;
  float: left;
}

.span-action {
  margin-left: 20px;
  float: left;
}

.mat-icon {
  vertical-align: middle;
  margin-right: 2px;
}

.settings-description-wrap {
  width: 170px;
  float: right;
}
